@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
:root{
    --cor-primaria:#000000;
    --cor-secundaria:#f6f6f6;
    --cor-tercearia:#22d4fd;
    --cor-hover:#272727;
    --font-primaria:'Krona One', sans-serif;
    --font-secundaria:'Montserrat', sans-serif;

}


* {
    margin: 0;
    padding: 0;
}

body {

    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0px 0px 15% ;

}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    color: #22D4FD;
     font-family: var(--font-secundaria);
    font-weight: 600;
    font-size: 24px;
    text-decoration: none;

}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titulo-destaque {
    color: #22D4FD;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: var( --font-primaria);


}

.apresentacao__conteudo__texto {
    font-size: 24px;
    font-family: var(--font-secundaria);
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var( --font-primaria);
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__links_link {
    width: 378px;
    padding: 16px 0;
    font-size: 24px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria);
    font-weight: 600;
    border: 2px solid var(--cor-tercearia);
    display: flex;
    justify-content: center;
    gap: 16px;
    ;
}

.apresentacao__links_link:hover {
    background-color: var(--cor-hover);
}

.rodape {
    padding: 24px;
    background-color: var(--cor-tercearia);
    color: var(--cor-primaria);
    text-align: center;
    font-family: var(--font-secundaria);
    font-size: 24px;
    font-weight: 400;

}